<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título da Página</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="container">
    <h1>Detalhes do Produto</h1>
    <p>ID:</strong> <span th:text="${id}"></span></p>
    <p>Produto:</strong> <span th:text="${produto}"></span></p>
    <p>Preco:</strong> <span th:text="${preco}"></span></p>
    <p>Quantidade:</strong> <span th:text="${quantidade}"></span></p>
  </div>
</body>
</html>