* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 2%;
    font-family: Arial, sans-serif;
    gap: 3%;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.container-1{
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;
    background-color: white;
}
.container-2{
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;
    background-color: white;
}

.container-3{
    display: flex;
    width: 600px;
    height: 95%;
    flex-direction: column;
    padding: 2%;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;
    background-color: white;
}

#board, #board_2 {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    gap: 1px;
    margin-bottom: 20px;
}

.cell, .cell_2 {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.cell.ship {
    background-color: #4CAF50;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.title, .title_2 {
    background-color: #e0e0e0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell[data-row="0"], .cell[data-col="0"],
.cell_2[data-row="0"], .cell_2[data-col="0"] {
    background-color: #a280d8;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}


.chat-box {
    flex-grow: 1;
    background-color: #c2bfbc;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
}