/* Resetando o estilo para garantir que o tabuleiro tenha o layout certo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 2%;
    font-family: Arial, sans-serif;
    /*justify-content: space-between;*/
    gap: 3%;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: #d3bfbf;
}

h1 {
    margin-bottom: 5px;
}
label{
    font-size: 16px;
    font-weight: bold;
}
.container-1{
    display: flex;
    width: 600px;
    height: 98%;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;

}

.connectServer, .player2{
    display: flex;

    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border: 1px solid rgb(127, 127, 168);*/
    border-radius: 8px;
    margin-bottom: 10px;
}
.container-2{
    display: flex;
    width: 600px;
    height: 98%;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;

}
.container-3{
    display: flex;
    width: 600px;
    height: 98%;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgb(127, 127, 168);
    border-radius: 8px;

}

#board {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(16, 30px); /* 16 colunas */
    grid-template-rows: repeat(16, 30px); /* 16 linhas */
    gap: 1px; /* Espaço entre as células */
    margin-top: 10px;
    margin-bottom: 20px;
}

#board-player2 {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(16, 30px); /* 16 colunas */
    grid-template-rows: repeat(16, 30px); /* 16 linhas */
    gap: 1px; /* Espaço entre as células */
    margin-top: 10px;
    margin-bottom: 20px;
}
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.cell2 {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.cell.ship .shoot {
    background-color: #4CAF50; /* Cor para os barcos */
}
input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}


button {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #050505;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #575a57;
}

.title {
    background-color: #e0e0e0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell[data-row="0"], .cell[data-col="0"] {
    background-color: #a280d8;
    font-weight: bold;
}

.cell2[data-row="0"], .cell2[data-col="0"] {
    background-color: #d114e2;
    font-weight: bold;
}

#msgShoot {
    margin-top: 30px;
    height: 680px;
    max-height: 675px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
}

#msgShoot p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 8px;
}

#msgShoot p strong {
    color: #007BFF;
}
