* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
}

body {
    background-color: #f4f7fc; /* Fundo suave para toda a página */
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #2a3a3f;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Efeito ao passar o mouse */
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #4f92dd; /* Cor ao focar no campo */
    box-shadow: 0 0 5px rgba(79, 146, 221, 0.5);
}

button {
    padding: 12px 24px;
    background-color: #0d460d;
    border-radius: 8px;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0b3e0b;
    transform: scale(1.05);
}

.edit {
    background-color: #0c70e2;
}

.del {
    background-color: #b90909;
}

.edit:hover {
    background-color: #4f92dd;
}

.del:hover {
    background-color: #ff2f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden; /* Bordas arredondadas nas células */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #f4f4f4;
}

th {
    background-color: #3d5c4a;
    color: white;
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.acao {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
}

a:hover {
    color: #45a049;
}

.produto-imagem {
    width: 60px; /* Aumenta a largura para maior visibilidade */
    height: 60px; /* Aumenta a altura para maior visibilidade */
    object-fit: cover; /* Melhora o ajuste sem distorcer */
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #f1f1f1;
    padding: 4px;
    transition: transform 0.3s ease;
}

.produto-imagem:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}